<h1>Dashboard</h1>

<%= erb :_sorted_urls %>

<%= erb :_url_avg_response_times %>

<%= erb :_resolution_breakdown %>

<%= erb :_browser_breakdown %>

<%= erb :_platform_breakdown %>

<%= erb :_events %>

