<h1>Longest Response</h1>

<%= @client.longest_response %>

<h1>Shortest Response</h1>

<%= @client.shortest_response %>

<h1>Average Response</h1>

<%= @client.average_response %>

<h1>HTTP Verbs</h1>

<% @client.http_verbs.each do |verb| %>
  <ul>
    <li><%= verb %></li>
  </ul>
<% end %>

<h1>Most Popular Referrers</h1>

<% @client.popular_referrers.each do |url, count| %>
  <ul>
    <li><%= url %></li>
  </ul>
<% end %>

<h1>Most Popular Browsers</h1>

<% @client.popular_browsers.each do |browser, count| %>
  <ul>
    <li><%= browser %></li>
  </ul>
<% end %>

