<h2>Longest Response Time: <ins><%= @client.longest_response %> ms</ins></h2>

<h2>Shortest Response Time: <ins><%= @client.shortest_response %> ms</ins></h2>

<h2>Average Response Time: <ins><%= @client.average_response %> ms</ins></h2>

<h2>HTTP Verbs</h2>

<% @client.http_verbs.each do |verb| %>
  <ul>
    <li><%= verb %></li>
  </ul>
<% end %>

<h2>Most Popular Referrers</h2>

<% @client.popular_referrers.each do |url, count| %>
  <ul>
    <li><%= url %></li>
  </ul>
<% end %>

<h2>Most Popular Browsers</h2>

<% @client.popular_browsers.each do |browser, count| %>
  <ul>
    <li><%= browser %></li>
  </ul>
<% end %>

<h2>Most Popular Platforms</h2>

<% @client.popular_platforms.each do |platform, count| %>
  <ul>
    <li><%= platform %></li>
  </ul>
<% end %>



